<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>House number:</b>
  <%= @team.house_number %>
</p>

<p>
  <b>Street:</b>
  <%= @team.street %>
</p>

<p>
  <b>Fraternity:</b>
  <%= link_to @team.house.name, @team.house %>
</p>

<p>
  <b>Members:</b>
  <% @team.athletes.each do |a| %>
    <%= link_to a.name, a %>
  <% end %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
