<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>House number:</b>
  <%= @team.house_number %>
</p>

<p>
  <b>Street:</b>
  <%= @team.street %>
</p>

<p>
  <b>Fraternity:</b>
  <%= @team.house.name %>
</p>

<p>
  <b>Members:</b>
  <%= @team.athletes %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
