<% title "Athletes" %>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
  </tr>
  <% for athlete in @athletes %>
    <tr>
      <td><%= athlete.name %></td>
      <td><%= athlete.email %></td>
      <td><%= athlete.phone %></td>
      <td><%= link_to "Show", athlete %></td>
      <td><%= link_to "Edit", edit_athlete_path(athlete) %></td>
      <td><%= link_to "Destroy", athlete, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Athlete", new_athlete_path %></p>
