<%= form_for @player, :html => { :class => "form-horizontal" } do |f| %>
  <fieldset>
    <%= f.error_messages %>

    <div class="control-group">
      <%= f.label :first_name, "First Name", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :first_name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :last_name, "Last Name", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :last_name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :phone, "Cell Phone", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :phone %>
        <p class="help-inline">Digits Only</p>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, "Email Address", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :email %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password, :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation, "Confirm Password", :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>

    <% if logged_in? %>
      <div class="control-group">
        <%= f.label :team, "Team Name", :class => "control-label" %>
        <div class="controls">
          <%= collection_select(:player, :team_id, Team.all, :id, :name) %>
        </div>
      </div>
    <% end %>

    <div class="form-actions">
      <%= f.submit (@player.new_record? ? "Sign Up" : "Update"), :class => "btn btn-large btn-info" %>
    </div>
  </fieldset>
<% end %>
