<%= form_for @match, :html => { :class => "form-horizontal" } do |f| %>
  <fieldset>
    <% if @match.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

        <ul>
        <% @match.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :home_team, "Home Team", :class => "control-label" %>
      <div class="controls">
        <%= f.collection_select(:home_team_id, Team.all, :id, :name, :prompt => false) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :away_team, "Away Team", :class => "control-label" %>
      <div class="controls">
        <%= f.collection_select(:away_team_id, Team.all, :id, :name, :prompt => false) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :date, :class => "control-label" %>
      <div class="controls">
        <%= f.date_select :date, :order => [:month, :day, :year], :class => "span1" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :winner, "Winner", :class => "control-label" %>
      <div class="controls">
        <%= f.collection_select(:winner, Team.all, :id, :name, :prompt => false) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :loser, "Loser", :class => "control-label" %>
      <div class="controls">
        <%= f.collection_select(:loser, Team.all, :id, :name, :prompt => false) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :away_team_cups, "Away Team Cups Made", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :away_team_cups %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :home_team_cups, "Home Team Cups Made", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :home_team_cups %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit :class => "btn btn-large btn-info" %>
    </div>
  </fieldset>
<% end %>
