<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "IPL" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to "Interfraternal Pong League", :root, :class => "brand" %>
          <% if logged_in? %>
            <div class="btn-group pull-right">
              <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#"><i class="icon-user"></i> <%= current_player.first_name %> <%= current_player.last_name %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to edit_current_player_path do %>
                    <i class="icon-edit"></i> Edit Profile
                  <% end %>
                </li>
                <li>
                  <%= link_to logout_path do %>
                    <i class="icon-lock"></i> Sign Out
                  <% end %>
                </li>
              </ul>
            </div>	
          <% else %>
            <div class="btn-group pull-right">
              <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#"><i class="icon-user"></i> User Options
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to login_path do %>
                    <i class="icon-pencil"></i> Log In
                  <% end %>
                </li>
                <li>
                  <%= link_to signup_path do %>
                    <i class="icon-plus"></i> Sign Up
                  <% end %>
                </li>
              </ul>
            </div>	
          <% end %>
          <div class="nav-collapse collapse">
            <ul class="nav nav-pills">
              <li><%= link_to "Standings", :teams %></li>
              <li><%= link_to "Houses", :houses %></li>
              <li><%= link_to "Schedule", :matches %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
           <div class="well">
              <% if flash[:notice] %>
                <div class="alert alert-info"><a class="close" data-dismiss="alert" href="#">&times;</a><%= flash[:notice] %></div>
              <% end %>
              <% if flash[:error] %>
                <div class= "alert alert-error"><a class="close" data-dismiss="alert" href="#">&times;</a><%= flash[:error] %></div>
              <% end %>
              <% if flash[:alert] %>
                <div class= "alert alert-error"><a class="close" data-dismiss="alert" href="#">&times;</a><%= flash[:alert] %></div>
              <% end %>
              <%= yield %>
            </div>
      </div><!--/content-->

      <footer>
        <p>Property of <a target="_blank" href="http://www.twitter.com/domcerminara">@domcerminara</a></p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
